@page
@model FociWebApp.Pages.BajnoksagAllasaModel
@{
	ViewData["Title"] = "BajnoksagAllasa";
}
<h1>Bajnokság Állása</h1>
<table class="table">
    <thead>
		<tr>
			<th>Helyezés</th>
			<th>Csapat Neve</th>
			<th>Játszott mérkőzések</th>
			<th>Győzelem</th>
			<th>Döntetlen</th>
			<th>Vereség</th>
			<th>Pontszám</th>
			<td>Lőtt gól</td>
			<td>Kapott gól</td>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.csapatStatisztika.Count(); i++)
		{
			<tr>
				<td>
					@(i+1)
				</td>
				<td>@Model.csapatStatisztika[i].CsapatNev</td>
				<td></td>
				<td>@Model.csapatStatisztika[i].JatszottMeccsekSzama</td>
				<td></td>
				<td>@Model.csapatStatisztika[i].GyozelmekSzama</td>
				<td></td>
				<td>@Model.csapatStatisztika[i].DontetlenekSzama</td>
				<td></td>
				<td>@Model.csapatStatisztika[i].VeresegekSzama</td>
				<td></td>
				<td>@Model.csapatStatisztika[i].LottGolokSzama</td>
				<td></td>
				<td>@Model.csapatStatisztika[i].kapottGolokSzama</td>
				<td></td>
			</tr>
		}
	</tbody>
</table>
